/* ToDoItem.css */

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Mesafeyi ayarlayın */
  margin-bottom: 20px; /* Input kutusu ile liste arasına mesafe ekleyin */
}

.todo-item {
    background: linear-gradient(to right, #424726, #080808); /* Kart rengi */
    padding: 12px 20px;
    border: 0.5px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-item button {
    background-color: #e63946; /* Silme butonu rengi */
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .todo-item button:hover {
    background-color: #c02942; /* Silme butonunun hover efekti */
  }
  